.max-width{
    /* max-width: 90%; */
    max-width: 1100px;
    margin: 0 auto;
    
}
.max-width-sm{
    max-width: 500px;
    min-width: 359px;
    margin: 0 auto;
}
.max-width-phone{
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}
.text-desṅc{
    font-weight: 300;
    letter-spacing: 1px;
}
.text-desc-2{
    font-weight: 350;
    letter-spacing: 1px;
}

.collection-title{
    font-size: 30px;
    color: #1c1c1c;
    margin-bottom: 32px;
    font-weight: 800px;
}